/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/*
  Bone: #f4f1de
  Avocado: #618b25;
*/
:root {
  --ion-color-primary: #3e517a;
  --ion-color-primary-rgb: 62, 81, 122;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #37476b;
  --ion-color-primary-tint: #516287;

  --ion-color-secondary: #b7e3f3;
  --ion-color-secondary-rgb: 183, 227, 243;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #a1c8d6;
  --ion-color-secondary-tint: #bee6f4;

  --ion-color-tertiary: #f4f1de;
  --ion-color-tertiary-rgb: 244, 241, 222;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d7d4c3;
  --ion-color-tertiary-tint: #f5f2e1;

  --ion-color-light: #f0efef;
  --ion-color-light-rgb: 240, 239, 239;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d3d2d2;
  --ion-color-light-tint: #f2f1f1;

  --ion-color-lightest: #ffffff;
  --ion-color-lightest-rgb: 255, 255, 255;
  --ion-color-lightest-contrast: #000000;
  --ion-color-lightest-contrast-rgb: 0, 0, 0;
  --ion-color-lightest-shade: #e0e0e0;
  --ion-color-lightest-tint: #ffffff;

  --ion-color-dark: #131516;
  --ion-color-dark-rgb: 19, 21, 22;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #111213;
  --ion-color-dark-tint: #2b2c2d;

  --ion-color-darkest: #000000;
  --ion-color-darkest-rgb: 0, 0, 0;
  --ion-color-darkest-contrast: #ffffff;
  --ion-color-darkest-contrast-rgb: 255, 255, 255;
  --ion-color-darkest-shade: #000000;
  --ion-color-darkest-tint: #1a1a1a;

  --ion-color-zelle: #7d04b9;
  --ion-color-zelle-rgb: 125, 4, 185;
  --ion-color-zelle-contrast: #ffffff;
  --ion-color-zelle-contrast-rgb: 255, 255, 255;
  --ion-color-zelle-shade: #6e04a3;
  --ion-color-zelle-tint: #8a1dc0;
}

:root.ion-palette-dark {
  --ion-color-primary: #3e517a;
  --ion-color-primary-rgb: 62, 81, 122;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #37476b;
  --ion-color-primary-tint: #516287;

  --ion-color-secondary: #b7e3f3;
  --ion-color-secondary-rgb: 183, 227, 243;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #a1c8d6;
  --ion-color-secondary-tint: #bee6f4;

  --ion-color-tertiary: #f4f1de;
  --ion-color-tertiary-rgb: 244, 241, 222;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d7d4c3;
  --ion-color-tertiary-tint: #f5f2e1;

  --ion-color-light: #1a1a1a;
  --ion-color-light-rgb: 26, 26, 26;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #171717;
  --ion-color-light-tint: #313131;

  --ion-color-lightest: #0d0d0d;
  --ion-color-lightest-rgb: 13, 13, 13;
  --ion-color-lightest-contrast: #ffffff;
  --ion-color-lightest-contrast-rgb: 255, 255, 255;
  --ion-color-lightest-shade: #0b0b0b;
  --ion-color-lightest-tint: #252525;

  --ion-color-dark: #d1d1d1;
  --ion-color-dark-rgb: 209, 209, 209;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #b8b8b8;
  --ion-color-dark-tint: #d6d6d6;

  --ion-color-darkest: #ffffff;
  --ion-color-darkest-rgb: 255, 255, 255;
  --ion-color-darkest-contrast: #000000;
  --ion-color-darkest-contrast-rgb: 0, 0, 0;
  --ion-color-darkest-shade: #e0e0e0;
  --ion-color-darkest-tint: #ffffff;
}

.ion-color-lightest {
  --ion-color-base: var(--ion-color-lightest);
  --ion-color-base-rgb: var(--ion-color-lightest-rgb);
  --ion-color-contrast: var(--ion-color-lightest-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightest-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightest-shade);
  --ion-color-tint: var(--ion-color-lightest-tint);
}

.ion-color-light {
  --ion-color-base: var(--ion-color-light);
  --ion-color-base-rgb: var(--ion-color-light-rgb);
  --ion-color-contrast: var(--ion-color-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-shade);
  --ion-color-tint: var(--ion-color-light-tint);
}

.ion-color-dark {
  --ion-color-base: var(--ion-color-dark);
  --ion-color-base-rgb: var(--ion-color-dark-rgb);
  --ion-color-contrast: var(--ion-color-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-shade);
  --ion-color-tint: var(--ion-color-dark-tint);
}

.ion-color-darkest {
  --ion-color-base: var(--ion-color-darkest);
  --ion-color-base-rgb: var(--ion-color-darkest-rgb);
  --ion-color-contrast: var(--ion-color-darkest-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkest-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkest-shade);
  --ion-color-tint: var(--ion-color-darkest-tint);
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-secondary-rgb);
  --ion-color-contrast: var(--ion-color-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-tertiary {
  --ion-color-base: var(--ion-color-tertiary);
  --ion-color-base-rgb: var(--ion-color-tertiary-rgb);
  --ion-color-contrast: var(--ion-color-tertiary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb);
  --ion-color-shade: var(--ion-color-tertiary-shade);
  --ion-color-tint: var(--ion-color-tertiary-tint);
}

.ion-color-zelle {
  --ion-color-base: var(--ion-color-zelle);
  --ion-color-base-rgb: var(--ion-color-zelle-rgb);
  --ion-color-contrast: var(--ion-color-zelle-contrast);
  --ion-color-contrast-rgb: var(--ion-color-zelle-contrast-rgb);
  --ion-color-shade: var(--ion-color-zelle-shade);
  --ion-color-tint: var(--ion-color-zelle-tint);
}
